<div ng-init="friends = [{name:'John', age:25}, {name:'Mary', age:28}]">
  I have {{friends.length}} friends. They are:
  <ul>
    <li ng-repeat="friend in friends">
      [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
    </li>
  </ul>
</div>

<div ng-controller="TissuesCtrl">
  <input type="text" ng_model="thing1"></input>
  <p>{{thing1}}</p>
  <input type="checkbox" ng-model="thing"></input>
  <p>{{thing}}</p>
  <li ng-repeat="tissue in tissues">{{tissue.name}}</li>
  <h3>To do</h3>
  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.text}}</span>
    </li>
  </ul>
  <h3>Done stuff</h3>
  <ul>
    <li ng-repeat="todo in done_todos()">{{todo.text}}</li>
  </ul>
  <br />
  <nl>
    <li ng_repeat="tissue in real_tissues">
      <span>{{tissue.name}}</span>
      <span>{{tissue.total | sort_by_totals}}</span>
    </li>
  </ul>
</div>


