<h3>Greetings earthlings</h3>
<p>Starting here</p>
<p>Gene symbol: <%= @gene.symbol %></p>
<br />
<p>Chips: </p>
<% @gene.chips.each do |chip| %>
<span><%= chip %></span>
<span><%= chip.id %></span>
<span><%= link_to chip.name, chip_path(chip) %></span>
<br />
<% end %>

