<h3>Greetings earthlings</h3>
<p>Starting here</p>
<p>Gene symbol: <%= @gene.symbol %></p>
<br />
<p>Chips: </p>
<% @gene.chips.each do |chip| %>
<div><%= chip %></div>
<div><%= chip.id %></div>
<div><%= link_to chip.name, chip_path(chip) %></div>
<br />
<% end %>


